body{
    margin-top: 50px;
    background-color: #242424;
}

.title {
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: white;


}



h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: white;
}

a {
    text-align: center;
    color: white;
    font-size: small;
}

.Aviso {
padding-left: 100px;
padding-right: 100px;

}